<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Register</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{ url_for('static', filename='img/CFVDivinez-Logo.png') }}" rel="icon">
  <link href="{{ url_for('static', filename='img/CFVDivinez-Logo.png') }}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ url_for('static', filename='vendor/animate.css/animate.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/aos/aos.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Moderna
  * Updated: Jan 29 2024 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/free-bootstrap-template-corporate-moderna/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center ">
    <div class="container d-flex justify-content-between align-items-center">

      <div class="logo">
        <h1 class="text-light"><a href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='img/CFVDivinez-Logo.png') }}" alt="" class="img-fluid"></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><span>Cardfight!! Vanguard Divinez</span></a> -->>
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="{{ url_for('home') }}">Home</a></li>
          <li><a href="{{ url_for('about') }}">About</a></li>
          <li><a href="{{ url_for('updates') }}">Updates</a></li>
          <li><a href="{{ url_for('desires') }}">Six Dessires</a></li>
          <li><a href="{{ url_for('team') }}">Team</a></li>
          <li><a href="{{ url_for('blog') }}">Blog</a></li>
          <li class="dropdown"><a href="#"><span>Fated Clash</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="https://cardfight.fandom.com/wiki/Akina_Myodo">Akina Myoudou</a></li>
              <li><a href="https://cardfight.fandom.com/wiki/Nao_Inabe">Nao Inabe</a></li>
              <li><a href="https://cardfight.fandom.com/wiki/Masanori_Iseki?wikia-footer-wiki-rec=true">Masanori Iseki</a></li>
              <li><a href="https://cardfight.fandom.com/wiki/Mikoto_Saito?wikia-footer-wiki-rec=true">Mikoto Saitou</a></li>
              <li><a href="https://cardfight.fandom.com/wiki/Suo_Yobitsugi?wikia-footer-wiki-rec=true">Suou Yobitsugi</a></li>
              <li><a href="https://cardfight.fandom.com/wiki/Taizo_Kiyokura?wikia-footer-wiki-rec=true">Taizo Kiyokura</a></li>
            </ul>
          </li>
          <li><a href="{{ url_for('contact') }}">Contact Us</a></li>
          <li><a href="{{ url_for('login') }}">Login</a></li>
          <li><a class="active " href="{{ url_for('register') }}">Register</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
      {% with messages = get_flashed_messages(with_categories=true)%}
      {% if messages %}
        {% for category, message in messages %}
        {% if category == 'error' %}
          <div class="alert alert-danger alert-dismissable fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% else %}
          <div class="alert alert-success alert-dismissable fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endif %}
        {% endfor %}
      {% endif %}
      {% endwith %}

  <main id="main">

    <!-- Register Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="mx-auto text-center wow fadeIn" data-wow-delay="0.1s" style="max-width: 500px;">
                <h1 class="mb-4">Register an Account</h1>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-7-login">
                    <div class="wow fadeIn" data-wow-delay="0.3s">
                        <form action="/register" method="POST">
                            <div class="row g-3">
                              <div class="col-12">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="email" name="email"
                                        placeholder="Your Email">
                                    <label for="username">Your Email</label>
                                </div>
                              </div>
                                <div class="col-12">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="username" name="username"
                                            placeholder="Your Username">
                                        <label for="username">Your Username</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating">
                                        <input type="password" class="form-control" name="password"
                                            placeholder="Your Password">
                                        <label for="password">Your Password</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating">
                                        <input type="password" class="form-control"
                                            name="confirm_password" placeholder="Confirm Password"required>
                                        <label for="confirm_password">Confirm Password</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-primary w-100 py-3" type="submit">Register</button>
                                </div>
                                <div class="col-12">
                                    <p class="mt-3 mb-0">Already have an account? <a href="{{ url_for('login') }}">Login
                                            here</a>.</p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Register End -->


  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{{ url_for('static', filename='vendor/purecounter/purecounter_vanilla.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/aos/aos.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/glightbox/js/glightbox.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/waypoints/noframework.waypoints.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/php-email-form/validate.js') }}"></script>

  <!-- Template Main JS File -->
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>

</html>